html {
    height: 100%;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20%);
    }
    100% {
        transform: translateX(0);
    }
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    height: 100%;
    padding: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
    position: fixed;
    width: 100%;
    z-index: 200;
    top: 0px;
    box-sizing: border-box;
}

body {
    background-color: #031A30;
    color: rgb(150, 162, 188);
}

.logo-div {
    width: auto;
}

.logo {
    color: #dae4fb;
    text-decoration: none;
}

.content-list {
    list-style: none;
    margin-right: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.content-list li {
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 600;
}

.nav-content {
    width: auto;
    display: flex;
    align-items: center;
}

.content-btn {
    border: 2px #00eaff solid;
    background-color: transparent;
    height: auto;
    overflow: hidden;
    z-index: 3;
    position: relative;
    color: #dae4fb;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
}

.content-btn::after {
    content: "";
    position: absolute;
    background-color: #00eaff;
    height: 100%;
    transition: 0.4s;
    z-index: -2;
    width: 0%;
    top: 0;
    left: 0px;
}

.content-btn::before {
    content: "";
    position: absolute;
    background-color: #031A30;
    height: 100%;
    transition: 0.6s;
    z-index: -1;
    width: 0%;
    top: 0;
    left: 0px;
}

.content-btn:hover {
    border: 2px #031a30 solid;
}

.content-btn:hover::after {
    width: 100%;
}

.content-btn:hover::before {
    width: 100%;
}

.section1 {
    height: 2000px;
}

.colored-text {
    color: #00eaff;
}

.nav-active {
    transition: 0.4s;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
    background-color: #072340;
}

.container {
    margin: 0 1.5rem;
}

.body-container {
    width: 65%;
    margin: auto;
}

.home-section {
    padding: 6rem 0 4rem;
}

.name {
    font-size: 4rem;
    color: #dae4fb;
}

.content-home h3 {
    color: rgb(150, 162, 188);
    font-size: 2.4rem;
}

.content-home {
    color: rgb(127, 127, 175);
    font-size: 1.5rem;
}

.home-btn {
    overflow: hidden;
    margin: 2rem 0;
    padding: 1rem 0rem;
}

.home-btn a {
    border: #00eaff 2px solid;
    background-color: #00eaff;
    text-decoration: none;
    padding: 2rem 3rem;
    border-radius: 62px;
    overflow: hidden;
}

.home-btn a:hover {
    padding: 2rem 2.5rem;
}

.scorllDiv {
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.scroll {
    font-size: 1rem;
    color: #00eaff;
    margin-right: 10px;
}

.about {
    padding: 6rem 0 4rem;
}

.vibration {
    animation: shake 0.3s linear infinite;
}

section {
    padding: 6rem 0 4rem;
}

.title {
    font-size: 2rem;
    align-items: center;
    display: flex;
}

.titleNumber {
    margin: 0 0.6rem;
    font-weight: 600;
}

.titleSubText {
    font-weight: 600;
    position: relative;
}

.underLine {
    background-color: rgb(150, 162, 188);
    width: 100%;
    position: absolute;
    top: 35px;
    overflow: hidden;
    border-radius: 5px;
    height: 3px;
    left: 0px;
}

@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100px;
    }
}

.underLine span {
    background-color: #dae4fb;
    width: 10%;
    height: 100%;
    position: absolute;
    left: -10px;
    top: 0;
    animation: moving 1.5s linear infinite;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.about-left {
    width: 48%;
}

.about-right {
    width: 48%;
}

.description {
    font-size: 1.8rem;
    color: #dae4fb;
    padding: 0 0.6rem;
    letter-spacing: 1px;
    text-align: justify;
    font-weight: 600;
}

.about-btn {
    background-color: #00eaff;
    color: #dae4fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    font-size: 1.4rem;
    color: #031A30;
    margin: 1.3rem 0;
    border: none;
    padding: 0.6rem 1.2rem;
}

.about-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: dashed #00eaff 2px;
    overflow: hidden;
    width: 250px;
    position: relative;
    height: 250px;
    margin: 2rem;
}

.photo::before {
    content: 'Hover Me';
    font-size: 1.2rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    border-radius: 50%;
    transition: 0.5s;
    height: 97%;
    background-color: rgba(0, 234, 255, 0.8);
}

.photo:hover::before {
    transform: rotateX(90deg);
}

.photo img {
    width: 100%;
    height: 100%;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.record {
    display: flex;
    border-radius: 50px;
    overflow: hidden;
    justify-content: center;
    padding: 3px;
}

.player audio {
    display: none;
}

.player {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #031A30;
    border-radius: 50px;
    border: 2px transparent solid;
    padding: 1rem;
    position: relative;
}

.bar {
    position: absolute;
    z-index: -1;
    top: -4px;
    left: -4px;
    bottom: -4px;
    right: -4px;
    border-radius: 50px;
    background-color: #072340;
    transition: 1s;
}

.progress {
    width: 00%;
    background-color: #00eaff;
    height: 100%;
    transition: all linear 1s;
}

.player button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: #00eaff;
    font-size: 1.2rem;
}

.skills-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-title h5 {
    margin: 0px;
    padding: 0px;
    color: #dae4fb;
    font-weight: 600;
    font-size: 2.0rem;
}

.skill-title span {
    font-size: 1.2rem;
}

.skill-img img {
    width: 40px;
    margin: 10px 10px 0 0;
}

.container-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.porject {
    background-color: #072340;
    width: 25%;
    margin: 1rem;
    padding: 10px;
    border-radius: 10px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.live {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid rgba(255, 0, 0, 1);
    animation: puls 1s linear infinite;
}

@keyframes puls {
    0% {
        border-color: rgba(255, 0, 0, 0);
    }
    50% {
        border-color: rgba(255, 0, 0, 0.5);
    }
    100% {
        border-color: rgba(255, 0, 0, 1);
    }
}

.live div {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: red;
}

.header img {
    width: 40px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*::selection {
    background-color: transparent;
    color: #00eaff;
}

.contact-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    height: 100px;
}

.icon {
    font-size: 1.2rem;
}

.detail h1 {
    margin: 0;
}

.contacts {
    width: 30%;
    flex-direction: column;
}

.detail {
    display: flex;
}

.input {
    display: flex;
    padding: 20px;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #072340;
    width: 100%;
}

.input input,
textarea {
    background: transparent;
    max-height: 200px;
    max-width: 100%;
    border: none;
}

.input input:focus-visible,
textarea:focus-visible {
    border: none !important;
    outline: none;
}

.inputs {
    padding: 20px;
    width: 60%;
}

.input-btn {
    width: 100%;
    background-color: #00eaff;
    color: #031A30;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
    background-color: #00eaff;
    border-radius: 20px;
}

.mobile-btn {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 50px;
    display: flex;
    flex-direction: column;
    display: none;
}

.mobile-btn div {
    width: 100%;
    margin-bottom: 5px;
    background-color: #00eaff;
    height: 2px;
}

.close {
    display: none;
}

@media (max-width:400px) {
    .body-container {
        width: 100%;
    }
    .nav-content {
        top: -500px;
    }
    .mobile-btn {
        display: flex;
    }
    .close {
        display: block;
        cursor: pointer;
    }
    .nav-content {
        transition: 1s;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        border: 4px #00eaff solid;
        background-color: #031A30;
        padding: 10px;
        flex-direction: column;
    }
    .content-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
}

@media (max-width:730px) {
    .about-right {
        width: 100%;
    }
    .about-left {
        width: 100%;
    }
    .about-container {
        flex-wrap: wrap;
    }
}

@media (max-width:1000px) {
    .porject {
        width: 44%;
    }
}

@media (max-width:800px) {
    .porject {
        width: 100%;
    }
    .inputs {
        width: 100%;
    }
    .contact-container {
        width: 100%;
        flex-wrap: wrap;
    }
    .contacts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }
}